<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tcc1_abdiel">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ifsc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ifsc"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCC1Abdiel"
        tools:targetApi="31">

        <!-- SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:label="IFSC Eventos"
            android:exported="true">
            <!-- Intent filter for the main action -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignInActivity"
            android:label="IFSC Eventos"
            android:exported="true"/>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="IFSC Eventos"
            android:exported="true" />






        <!-- Other activities and configurations -->

    </application>

</manifest>
